@using BlazorDrop.Components.Base
@inherits BaseLazyComponent

<div id="@Id" class="bzd-linear-progress @Class" style="@Style">
    <div class="bzd-linear-bar" role="progressbar" aria-valuetext="Loading..." aria-busy="true"></div>
</div>